<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/logo/logo.png" type="image/x-icon">
    <title>Raphael Jabbour</title>

    <!-- SCSS File -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Roboto Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Oswald Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- EmailJS -->
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script src="https://unpkg.com/emailjs-com@latest/dist/email.min.js"></script>
</head>
<body id="app">
    <div :class="['loading-overlay', {'hide': !isLoading}]" id="loading-overlay">
        <div class="loader">
            <div class="spinner-audio-wave">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <header :class="[{'scroll': (scrollPosition > 50 || page == 'project')}, {'phone': windowWidth <= 767}]">
        <div v-if="windowWidth > 767" class="desktop">
            <img src="assets/img/logo/logo.png" alt="Img">
            <ul v-if="page == 'home'">
                <li>
                    <a @click="goToSection('music')" :class="{'active': scrollPosition >= sectionOffsets.music && scrollPosition < sectionOffsets.videos}" href="#music">MUSIC</a>
                </li>
                <li>
                    <a @click="goToSection('videos')" :class="{'active': scrollPosition >= sectionOffsets.videos && scrollPosition < sectionOffsets.projects}" href="#videos">VIDEOS</a>
                </li>
                <li>
                    <a @click="goToSection('projects')" :class="{'active': scrollPosition >= sectionOffsets.projects && scrollPosition < sectionOffsets.biography}" href="#projects">PROJECTS</a>
                </li>
                <li>
                    <a @click="goToSection('biography')" :class="{'active': scrollPosition >= sectionOffsets.biography && scrollPosition < sectionOffsets.pictures}" href="#biography">BIOGRAPHY</a>
                </li>
                <li>
                    <a @click="goToSection('pictures')" :class="{'active': scrollPosition >= sectionOffsets.pictures && scrollPosition < sectionOffsets.contact}" href="#pictures">PICTURES</a>
                </li>
                <li>
                    <a @click="goToSection('contact')" :class="{'active': scrollPosition >= sectionOffsets.contact}" href="#contact">CONTACT</a>
                </li>
            </ul>
            <ul v-else style="justify-content: end;">
                <li>
                    <a @click="goHome()" href="">HOME</a>
                </li>
            </ul>
        </div>
        <div v-else class="mobile">
            <img src="assets/img/logo/logo.png" alt="Img">
            <i v-if="page == 'home'" @click="slideMenu()"  class="fa fa-bars" aria-hidden="true"></i>
            <a v-else @click="goHome()" href="">HOME</a>
        </div>
    </header>

    <div v-if="windowWidth <= 767" :class="['mobileMenu', {'slide': openMobileMenu}]">
        <div class="menuList">
            <i @click="closeMenu()" class="fa fa-times" aria-hidden="true"></i>
            <ul>
                <li>
                    <a @click="goToSection('music')" href="#music">MUSIC</a>
                </li>
                <li>
                    <a @click="goToSection('videos')" href="#videos">VIDEOS</a>
                </li>
                <li>
                    <a @click="goToSection('projects')" href="#projects">PROJECTS</a>
                </li>
                <li>
                    <a @click="goToSection('biography')" href="#biography">BIOGRAPHY</a>
                </li>
                <li>
                    <a @click="goToSection('pictures')" href="#pictures">PICTURES</a>
                </li>
                <li>
                    <a @click="goToSection('contact')" href="#contact">CONTACT</a>
                </li>
            </ul>
            <div class="bottom">
                <a @click="goToSection('subscribe')" class="subscribeButton">SUBSCRIBE</a>
                <div class="media">
                    <a href="https://www.youtube.com/RaphaelJabbour" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="https://www.facebook.com/RaphaelJabbour/" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/raphaeljabbour11/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-tiktok"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-spotify"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-apple"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-deezer"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <main>
        <div v-if="page == 'home'">
            <div class="music" id="music">
                <div class="bgOverlay"></div>
                <div class="logo">
                    <img src="assets/img/logo/logo&name.png" alt="Img">
                </div>
                <div class="audio">
                    <div :class="['audiolist', {'show' : listShow}]">
                        <div @click="chooseTrack(index)" v-for="(song, index) in songs" class="track">
                        <audio :id="'track' + (index + 1)" :src="song.source"></audio>
                            <div class="left">
                                <div class="song">
                                    <div class="index">Song #{{ index + 1 }}</div>
                                    <div class="name">{{ song.name }}</div>
                                </div>
                            </div>
                            <div class="right">
                                <div :id="'time' + (index + 1)" class="time">0:00</div>
                            </div>
                        </div>
                    </div>
                    <div class="audiobar">
                        <audio id="currentTrack" :src="currentSong.source"></audio>
                        <div class="timeSlider"></div>
                        <div class="left">
                            <div @click="playMusic('current')" :class="['playpause', 'btn', {'clicked' : playClicked }]">
                                <i v-if="!playClicked" class="fa fa-play" aria-hidden="true"></i>
                                <i v-else class="fa fa-pause" aria-hidden="true"></i>
                            </div>
                            <div @click="switchTrack(-1)" class="previous btn">
                                <i class="fa fa-fast-backward" aria-hidden="true"></i>
                            </div>
                            <div @click="switchTrack(1)" class="next btn">
                                <i class="fa fa-fast-forward" aria-hidden="true"></i>
                            </div>
                            <div class="song">
                                <div class="name">{{ currentSong.name }}</div>
                                <div v-if="songs.length > 1" class="index">Song #{{ currentSongIndex + 1 }}</div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="time">{{ time }}</div>
                            <div @click="showList()" v-if="songs.length > 1" class="playlist btn">
                                <i v-if="!listShow" class="fa fa-bars" aria-hidden="true"></i>
                                <i v-else style="width: 14px;" class="fa fa-times" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="videos" id="videos">
                <div class="banner">
                    <img src="assets/img/cover/vidCover.jpg" alt="Img" class="banBG">
                    <div class="banOverlay"></div>
                    <h2>
                        VIDEOS
                    </h2>
                </div>
                <div class="wrap content">
                    <div class="grid">
                        <a :href="vid.source" target="_blank" v-for="(vid, index) in videos" :class="['image', { 'fade': videosFade }]" :style="{ transitionDelay: (index * 0.2) + 's' }">
                            <img :src="vid.image" alt="Img">
                            <div class="overlay"></div>
                            <div class="center">
                                <i class="fa fa-play"></i>
                            </div>
                            <div class="bottom">
                                <div class="summary">{{ vid.name }}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="projects" id="projects">
                <div class="banner">
                    <img src="assets/img/cover/projCover.jpg" alt="Img" class="banBG">
                    <div class="banOverlay"></div>
                    <h2>
                        PROJECTS
                    </h2>
                </div>
                <div class="wrap content">
                    <div class="grid">
                        <div @click="openProject(index)" v-for="(proj, index) in projects" :class="['image', { 'fade': projectsFade }]" :style="{ transitionDelay: (index * 0.2) + 's' }">
                            <img :src="proj.projectImg" alt="Img">
                            <div class="top">
                                {{ proj.song.name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="biography" id="biography">
                <div class="banner">
                    <img src="assets/img/cover/bioCover.jpg" alt="Img" class="banBG">
                    <div class="banOverlay"></div>
                    <h2>
                        BIOGRAPHY
                    </h2>
                </div>
                <div class="wrap content">
                    <p><b>Raphael Jabbour:</b> Performer, Songwriter, Singer, and Music Director</p>

                    <p>Welcome to my official Biography. I am Raphael Jabbour, a <span class="orange">Lebanese Artist</span> born in 1996 and raised in Kesserwan, Lebanon, within a close-knit family of four.</p>

                    <p>My journey into the spotlight began in September 2015 when I was selected to participate in <span class="yellow">Star Academy Arabia, Season 11</span>—a popular reality TV show broadcast across the Middle East and the Arab world. Although I was eliminated during the semi-finals, the experience proved invaluable, leading to significant personal and professional growth.</p>

                    <p>Following the show, I released a single on Anghami that quickly gained traction, achieving over <span class="yellow">2 million downloads.</span> My breakthrough continued in 2016 when I was honored with the <span class="orange">Best Rising Star</span> award at the Middle East Music Awards in Cairo, Egypt. In 2017, my career reached new heights as I was invited to perform as the Honorary Guest Singer at the Cairo Music Festival and was nominated for the Murex D’Or music award in Beirut, Lebanon. One of the highlights of my career was performing at the prestigious <span class="orange">Cairo Opera House</span>, a moment I will always cherish.</p>

                    <p>In 2020, I moved to <b>Canada</b> to study <span class="yellow">Sound Design</span> at one of the most renowned music institutes, aiming to merge music technology with my talent and open a career path in professional sound design. In 2022, I returned to <b>Beirut</b> to sell my first composed track, marking the start of my career in <span class="orange">composing and songwriting.</span> I made it a priority to maintain the Arabic essence in all my creations, <b>guiding artists</b> through the process to help them reach their highest potential and unique character, delivering authenticity in every measure.</p>

                    <p>In 2023, I opened <span class="yellow">Audio Cuisine</span>, a studio salon where artists come together to create in a friendly environment. Taking my personal career to a professional level, we deliver a variety of services, from recording to mixing, mastering, and songwriting, collaborating with <b>well-known artists</b> in Beirut.</p>

                    <p>In 2024, I had the opportunity to <span class="orange">direct a full Music show</span> performed weekly. My role involved creating the most suitable set list for each singer, based on their vocal capacity and character, to deliver a unique sound for the live scene, combining a live band with backing tracks. This experience brought me closer to my vision for live performances. I was honored to collaborate on this project with the uniquely talented artistic director Rachel Asmar and her dedicated team. You can check the final outcome on the website (<a href="https://www.rachelasmar.com" target="_blank">https://www.rachelasmar.com</a>).</p>

                    <p>Today, I am still learning with every moment, searching for unique opportunities to collaborate with real artists to achieve my vision in the music industry—whether in <b>Live Performance</b> or <b>Record Production</b>. Meanwhile, I’m working on my next releases, 24/7 dreaming about how I can deliver what's in my mind to your heart. Thank you for visiting, and I look forward to sharing more of my musical journey with you.</p>
                </div>
            </div>
            <div class="pictures" id="pictures">
                <div class="wrap content">
                    <div class="gallery">
                        <div @click="showImage(index)" v-for="(img, index) in gallery" :class="['image', { 'fade': picturesFade }]" :style="{ transitionDelay: (index * 0.2) + 's' }">
                            <img :src="img" alt="Img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact" id="contact">
                <div class="banner">
                    <img src="assets/img/cover/contactCover.jpg" alt="Img" class="banBG">
                    <div class="banOverlay"></div>
                    <h2>
                        CONTACT
                    </h2>
                </div>
                <div class="wrap content">
                    <div class="form">
                        <input type="text" id="name" placeholder="Your Name">
                        <input type="email" id="email" placeholder="Your Email">
                        <textarea id="message" placeholder="Message"></textarea>
                        <button @click="contact()">SEND</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="page == 'project'">
            <div class="project">
                <div class="wrap">
                    <div class="left">
                        <div class="song">
                            <audio id="projectTrack" :src="projectSelected.song.source"></audio>
                            <div @click="playMusic('project')" :class="['playpause', 'btn', {'clicked' : playClicked }]">
                                <i v-if="!playClicked" class="fa fa-play" aria-hidden="true"></i>
                                <i v-else class="fa fa-pause" aria-hidden="true"></i>
                            </div>
                            <div class="details">
                                <div class="artist">
                                    {{ projectSelected.song.artist }}
                                </div>
                                <div class="name">
                                    {{ projectSelected.song.name }}
                                </div>
                                <div class="time">
                                    {{ time }} / {{ total }}
                                </div>
                            </div>
                        </div>
                        <div class="lyrics">
                            <div class="title">
                                LYRICS
                            </div>
                            <div :class="['description', {'arabic' : arabicLyrics}]" v-html="projectSelected.lyrics"></div>
                        </div>
                        <div class="story">
                            <div class="title">
                                STORY
                            </div>
                            <div class="description" v-html="projectSelected.story"></div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="cover">
                            <img :src="projectSelected.cover" alt="Img">
                        </div>
                        <div class="name">
                            {{ projectSelected.song.name }}
                        </div>
                        <div class="date">
                            <b>Release Date:</b> {{ projectSelected.releaseDate }}
                        </div>
                        <div v-if="projectSelected.lyricsBy" class="lyrics info">
                            <b>Lyrics:</b> {{ projectSelected.lyricsBy }}
                        </div>
                        <div v-if="projectSelected.composer" class="composer info">
                            <b>Composer:</b> {{ projectSelected.composer }}
                        </div>
                        <div v-if="projectSelected.musicArrangement" class="musicArrangement info">
                            <b>Music Arrangement:</b> {{ projectSelected.musicArrangement }}
                        </div>
                        <div v-if="projectSelected.mixAndMastering" class="mixAndMastering info">
                            <b>Mix & Mastering:</b> {{ projectSelected.mixAndMastering }}
                        </div>
                        <div v-if="projectSelected.studio" class="studio info">
                            <b>Studio:</b> {{ projectSelected.studio }}
                        </div>
                        <div v-if="projectSelected.digitalDistribution" class="digitalDistribution info">
                            <b>Digital Distribution:</b> {{ projectSelected.digitalDistribution }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation">
                <div class="previous box">
                    <div @click="openProject(1, true)" v-if="projects[projectIndex + 1]" class="container" :style="{ backgroundImage: 'url(' + projects[projectIndex + 1].projectImg + ')' }">
                        <div class="overlay"></div>
                        <div class="label">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            PREVIOUS
                        </div>
                        <div class="projectName">
                            {{ projects[projectIndex + 1].song.name }}
                        </div>
                    </div>
                </div>
                <div v-if="windowWidth > 767" class="projectsList box">
                    <div @click="goHome(true)" class="container">
                        <div class="overlay"></div>
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="next box">
                    <div @click="openProject(-1, true)" v-if="projects[projectIndex - 1]" class="container" :style="{ backgroundImage: 'url(' + projects[projectIndex - 1].projectImg + ')' }">
                        <div class="overlay"></div>
                        <div class="label">
                            NEXT
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </div>
                        <div class="projectName">
                            {{ projects[projectIndex - 1].song.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div v-if="page == 'home'" :class="['modal', {'show': showModal}]" id="modal">
        <div class="counter">{{ imageIndex + 1 }} / {{ gallery.length }}</div>
        <i @click="closeModal()" class="fa fa-times" aria-hidden="true"></i>
        <i @click="showImage(-1, true)" class="fa fa-arrow-left" aria-hidden="true"></i>
        <div class="modalContent">
            <img src="" alt="Img">
        </div>
        <i @click="showImage(1, true)" class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>

    <div class="subscribe" id="subscribe">
        <div class="wrap">
            <div class="title">SUBSCRIBE</div>
            <div class="description">Sign-up to our newsletter to recieve the latest news directly in your inbox!</div>
            <div class="inputField">
                <input id="userEmail" type="email" placeholder="Your Email">
                <button @click="subscribe()">SUBSCRIBE</button>
            </div>
        </div>
    </div>

    <footer>
        <div class="wrap">
            <div class="rights">
                &copy; <span id="date"></span> Raphael Jabbour. All Rights Reserved
            </div>
            <div class="contactDetails">
                <div class="mail">
                    <i class="fa fa-envelope"></i>
                    management@raphaeljabbour.com
                </div>
                <div class="phone">
                    <i class="fa fa-phone"></i>
                    +961 76975564
                </div>
            </div>
            <div class="media">
                <a href="https://www.youtube.com/RaphaelJabbour" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.facebook.com/RaphaelJabbour/" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/raphaeljabbour11/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://x.com/raphaeljabbour1" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
                    </svg>
                </a>
                <a href="https://www.tiktok.com/@raphaeljabbour" target="_blank">
                    <i class="fab fa-tiktok"></i>
                </a>
                <!-- <a href="#" target="_blank">
                    <i class="fab fa-spotify"></i>
                </a> -->
                <a href="https://music.apple.com/lb/artist/raphael-jabbour/1528034297" target="_blank">
                    <i class="fab fa-apple"></i>
                </a>
                <a href="https://www.deezer.com/fr/artist/104267882" target="_blank">
                    <i class="fab fa-deezer"></i>
                </a>
            </div>
        </div>
    </footer>

    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js"></script>
    <script src="assets/js/vue.js"></script>
</body>
</html>