body {
  margin: 0;
  font-family: "Roboto";
  background-color: #f7f7f7;
}
body .wrap {
  max-width: 1140px;
  margin: auto;
}
body header {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  transition: min-height 250ms ease, background-color 250ms ease;
}
body header .desktop {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1140px;
}
body header .desktop img {
  display: none;
  max-height: 45px;
}
body header .desktop ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  width: 100%;
}
body header .desktop ul li {
  list-style-type: none !important;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: 700;
}
body header .desktop ul li a {
  color: #0d0d0d;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body header .desktop ul li a.active, body header .desktop ul li a:hover {
  opacity: 0.66;
}
body header.scroll {
  min-height: 55px;
  background-color: #fff;
}
body header.scroll .desktop img {
  display: block;
}
body main .music {
  position: relative;
  background-image: url("../img/bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .music .bgOverlay {
  background-color: rgba(255, 255, 255, 0.44);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body main .music .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body main .music .audio {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #333;
}
body main .music .audio .song {
  font-size: 12px;
}
body main .music .audio .song .index {
  font-weight: 700;
}
body main .music .audio .time {
  font-size: 11px;
}
body main .music .audio .audiolist {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.66);
  transition: max-height 250ms ease, opacity 250ms ease;
}
body main .music .audio .audiolist .track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}
body main .music .audio .audiolist.show {
  max-height: 750px;
  opacity: 1;
}
body main .music .audio .audiobar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 15px 20px;
}
body main .music .audio .audiobar .timeSlider {
  background-color: rgba(0, 0, 0, 0.15) !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
body main .music .audio .audiobar .btn {
  cursor: pointer;
}
body main .music .audio .audiobar .left {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
body main .music .audio .audiobar .right {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
body main .banner {
  position: relative;
  background-image: url("../img/bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
body main .banner .banOverlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body main .banner h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 96px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: Oswald;
  text-transform: uppercase;
  color: #fff;
}
body main .content {
  padding: 80px 0;
  color: #676767;
  line-height: 1.88;
  font-weight: 400;
  font-size: 16px;
}
body main .videos .grid {
  display: flex;
  flex-wrap: wrap;
}
body main .videos .grid .image {
  width: 33.3333333333%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
body main .videos .grid .image img {
  width: 100%;
  height: 100%;
}
body main .videos .grid .image .center {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 750ms ease, transform 750ms ease;
}
body main .videos .grid .image .center i {
  color: #fff;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-radius: 50%;
}
body main .videos .grid .image .center i::before {
  margin-left: 2px;
}
body main .videos .grid .image .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Roboto Condensed";
  font-size: 16px;
  padding: 14px 44px;
  color: #fff;
  text-align: center;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 750ms ease, opacity 750ms ease;
}
body main .videos .grid .image:hover .center {
  opacity: 0.5;
  transform: translate(-50%, -100%);
}
body main .videos .grid .image:hover .bottom {
  max-height: 100%;
  opacity: 1;
}
body main .projects .grid {
  display: flex;
  flex-wrap: wrap;
}
body main .projects .grid .image {
  width: 33.3333333333%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
body main .projects .grid .image img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  transition: transform 750ms ease;
}
body main .projects .grid .image .top {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 500ms ease, color 2500ms ease;
}
body main .projects .grid .image:hover img {
  transform: scale(1);
}
body main .projects .grid .image:hover .top {
  opacity: 1;
  color: #fff;
}
body main .biography .content {
  max-width: 750px;
}
body main .pictures .gallery {
  display: flex;
  flex-wrap: wrap;
}
body main .pictures .gallery .image {
  width: 25%;
  overflow: hidden;
  cursor: pointer;
}
body main .pictures .gallery .image img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 750ms ease;
}
body main .pictures .gallery .image:hover img {
  transform: scale(1.2);
}
body main .contact .content {
  max-width: 750px;
}
body main .contact .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
body main .contact .content .form input,
body main .contact .content .form textarea {
  border: 1px solid #fff;
  border-color: 13, 13, 13, 0.08;
  border-radius: 4px;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
  padding: 12px;
}
body main .contact .content .form textarea {
  min-height: 250px;
}
body main .contact .content .form button {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  padding: 18px 33px;
  cursor: pointer;
  transition: background-color 250ms ease, color 250ms ease;
}
body main .contact .content .form button:hover {
  background-color: #fff;
  color: rgb(103, 103, 103);
}
body footer {
  padding: 20px;
  font-size: 12px;
  line-height: 2;
  background: #000;
  color: #888;
  transition: opacity 0.2s;
}/*# sourceMappingURL=style.css.map */