body {
  margin: 0;
  font-family: "Roboto";
  background-color: #f7f7f7;
}
body .loading-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f7f7f7;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.3s ease;
}
body .loading-overlay .loader {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
}
body .loading-overlay .loader .spinner-audio-wave {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  color: #000000;
  opacity: 1;
  transition: opacity 0.2s 0.5s ease;
}
body .loading-overlay .loader .spinner-audio-wave span {
  display: block;
  position: absolute;
  bottom: 0;
  width: 9px;
  height: 5px;
  background-color: #000000;
  animation: audio-wave 1.5s infinite ease-in-out;
}
body .loading-overlay .loader .spinner-audio-wave span:nth-child(1) {
  left: 11px;
  animation-delay: 0.2s;
}
body .loading-overlay .loader .spinner-audio-wave span:nth-child(2) {
  left: 22px;
  animation-delay: 0.4s;
}
body .loading-overlay .loader .spinner-audio-wave span:nth-child(3) {
  left: 33px;
  animation-delay: 0.6s;
}
body .loading-overlay .loader .spinner-audio-wave span:nth-child(4) {
  left: 44px;
  animation-delay: 0.8s;
}
@keyframes audio-wave {
  0% {
    height: 5px;
    transform: translateY(0px);
    background: #000000;
  }
  25% {
    height: 40px;
    transform: translateY(20px);
    background: #000000;
  }
  50% {
    height: 5px;
    transform: translateY(0px);
    background: #000000;
  }
  100% {
    height: 5px;
    transform: translateY(0px);
    background: #000000;
  }
}
body .loading-overlay.hide {
  opacity: 0;
  z-index: -999;
  transition: opacity 0.3s ease, z-index 0.1s 1s linear;
}
body header {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 0 20px;
  transition: min-height 0.25s ease, background-color 0.25s ease;
}
body header .desktop {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1140px;
}
body header .desktop img {
  display: none;
  max-height: 45px;
}
body header .desktop ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  width: 100%;
}
body header .desktop ul li {
  list-style-type: none !important;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: 700;
}
body header .desktop ul li a {
  color: #0d0d0d;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body header .desktop ul li a.active, body header .desktop ul li a:hover {
  opacity: 0.66;
}
body header.scroll {
  min-height: 55px;
  background-color: #fff;
}
body header.scroll .desktop img {
  display: block;
}
body header.phone {
  min-height: 55px;
}
body header.phone .mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body header.phone .mobile img {
  max-height: 40px;
}
body header.phone .mobile i {
  font-size: 20px;
}
body header.phone .mobile a {
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: 700;
  color: #0d0d0d;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body .mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  overflow: auto;
  transition: opacity 0.5s ease, z-index 0.5s ease;
}
body .mobileMenu .menuList {
  position: relative;
  width: 70%;
  height: calc(100% - 20px);
  right: -100%;
  float: right;
  padding: 10px 20px;
  background-color: #000;
  transition: right 1s ease;
}
body .mobileMenu .menuList i {
  font-size: 20px;
  color: #fff;
  float: right;
}
body .mobileMenu .menuList ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 55px 0 0;
  padding: 0;
  list-style-type: none;
}
body .mobileMenu .menuList ul li {
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: 700;
}
body .mobileMenu .menuList ul li a {
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body .mobileMenu.slide {
  z-index: 100;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
body .mobileMenu.slide .menuList {
  right: 0;
}
body main .music {
  position: relative;
  background-image: url("../img/bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
body main .music .bgOverlay {
  background-color: rgba(255, 255, 255, 0.44);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body main .music .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 5s ease;
}
body main .music .logo img {
  width: 100%;
}
body main .music .logo.fade {
  opacity: 1;
}
body main .music .audio {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #333;
}
body main .music .audio .song {
  font-size: 12px;
}
body main .music .audio .song .index {
  font-weight: 700;
}
body main .music .audio .time {
  font-size: 11px;
}
body main .music .audio .audiolist {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.66);
  transition: max-height 0.25s ease, opacity 0.25s ease;
}
body main .music .audio .audiolist .track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}
body main .music .audio .audiolist.show {
  max-height: 750px;
  opacity: 1;
}
body main .music .audio .audiobar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 15px 20px;
}
body main .music .audio .audiobar .timeSlider {
  background-color: rgba(0, 0, 0, 0.15) !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
body main .music .audio .audiobar .btn {
  cursor: pointer;
}
body main .music .audio .audiobar .left {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
body main .music .audio .audiobar .right {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (max-width: 767px) {
  body main .music .logo {
    width: 90%;
  }
}
body main .wrap {
  max-width: 1140px;
  margin: auto;
}
body main .banner {
  position: relative;
  padding: 80px 0;
  overflow: hidden;
}
body main .banner .banBG {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  max-height: none;
  z-index: -1;
}
body main .banner .banOverlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body main .banner h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 96px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: Oswald;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 767px) {
  body main .banner h2 {
    font-size: 60px;
  }
}
body main .content {
  padding: 80px 0;
  color: #676767;
  line-height: 1.88;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 767px) {
  body main .content {
    padding: 40px 20px;
  }
}
body main .videos .grid {
  display: flex;
  flex-wrap: wrap;
}
body main .videos .grid .image {
  width: 33.3333333333%;
  position: relative;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 1s ease;
}
body main .videos .grid .image img {
  width: 100%;
  height: 100%;
}
body main .videos .grid .image .center {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.75s ease, transform 0.75s ease;
}
body main .videos .grid .image .center i {
  color: #fff;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-radius: 50%;
}
body main .videos .grid .image .center i::before {
  margin-left: 2px;
}
body main .videos .grid .image .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Roboto Condensed";
  font-size: 16px;
  padding: 14px 44px;
  color: #fff;
  text-align: center;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.75s ease, opacity 0.75s ease;
}
body main .videos .grid .image.fade {
  opacity: 1;
}
body main .videos .grid .image:hover .center {
  opacity: 0.5;
  transform: translate(-50%, -100%);
}
body main .videos .grid .image:hover .bottom {
  max-height: 100%;
  opacity: 1;
}
@media (max-width: 767px) {
  body main .videos .grid {
    flex-direction: column;
  }
  body main .videos .grid .image {
    width: 100%;
  }
}
body main .projects .grid {
  display: flex;
  flex-wrap: wrap;
}
body main .projects .grid .image {
  width: 33.3333333333%;
  position: relative;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 1s ease;
}
body main .projects .grid .image img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  transition: transform 0.75s ease;
}
body main .projects .grid .image .top {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease, color 2.5s ease;
}
body main .projects .grid .image.fade {
  opacity: 1;
}
body main .projects .grid .image:hover img {
  transform: scale(1);
}
body main .projects .grid .image:hover .top {
  opacity: 1;
  color: #fff;
}
@media (max-width: 767px) {
  body main .projects .grid {
    flex-direction: column;
  }
  body main .projects .grid .image {
    width: 100%;
  }
}
body main .biography .content {
  max-width: 750px;
}
body main .pictures .gallery {
  display: flex;
  flex-wrap: wrap;
}
body main .pictures .gallery .image {
  width: 25%;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  transition: opacity 1s ease;
}
body main .pictures .gallery .image img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 0.75s ease;
}
body main .pictures .gallery .image.fade {
  opacity: 1;
}
body main .pictures .gallery .image:hover img {
  transform: scale(1.2);
}
@media (max-width: 767px) {
  body main .pictures .gallery {
    flex-direction: column;
  }
  body main .pictures .gallery .image {
    width: 100%;
  }
}
body main .contact .content {
  max-width: 750px;
}
body main .contact .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
body main .contact .content .form input,
body main .contact .content .form textarea {
  border: 1px solid #fff;
  border-color: rgba(13, 13, 13, 0.08);
  border-radius: 4px;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
  padding: 12px;
  font-family: "Roboto";
  font-size: 16px;
}
body main .contact .content .form textarea {
  min-height: 250px;
}
body main .contact .content .form button {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  padding: 18px 33px;
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
}
body main .contact .content .form button:hover {
  background-color: #fff;
  color: rgb(103, 103, 103);
}
body main .project {
  padding: 105px 20px 50px;
  color: #444444;
}
body main .project .wrap {
  display: flex;
  justify-content: space-between;
}
body main .project .wrap .title {
  font-family: "Roboto Condensed";
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 35px;
}
body main .project .wrap .description {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.88;
  text-align: justify;
}
body main .project .wrap .description.arabic {
  direction: rtl;
}
body main .project .wrap .left {
  width: calc(50% - 25px);
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}
body main .project .wrap .left .btn {
  cursor: pointer;
}
body main .project .wrap .left .song {
  position: relative;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 20px;
  border: 1px solid #444444;
  border-radius: 4px;
  overflow: hidden;
}
body main .project .wrap .left .song::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/indie.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px);
  z-index: -1;
}
body main .project .wrap .left .song .playpause {
  display: flex;
  align-items: center;
}
body main .project .wrap .left .song .playpause i {
  color: #fff;
  padding: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: border-color 0.5s ease;
}
body main .project .wrap .left .song .playpause i::before {
  margin-left: 2px;
}
body main .project .wrap .left .song .playpause i:hover {
  border-color: white;
}
body main .project .wrap .left .song .details {
  color: #fff;
}
body main .project .wrap .left .song .details .artist {
  font-size: 12px;
}
body main .project .wrap .left .song .details .name {
  font-size: 16px;
}
body main .project .wrap .left .song .details .time {
  font-size: 11px;
}
body main .project .wrap .right {
  width: calc(50% - 25px);
}
body main .project .wrap .right .cover img {
  width: 100%;
  border-radius: 4px;
}
body main .project .wrap .right .name {
  margin-top: 15px;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
body main .project .wrap .right .date {
  margin-top: 20px;
  font-size: 16px;
}
@media (max-width: 767px) {
  body main .project .wrap {
    flex-direction: column-reverse;
    row-gap: 35px;
  }
  body main .project .wrap .left,
  body main .project .wrap .right {
    width: 100%;
  }
}
body .navigation {
  display: flex;
}
body .navigation .box {
  width: 33.3333333333%;
}
body .navigation .box .container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  transition: background-size 0.25s ease, padding 0.25s ease;
  overflow: hidden;
}
body .navigation .box .container .label {
  font-size: 12px;
  text-transform: uppercase;
}
body .navigation .box .container .projectName {
  font-size: 16px;
}
body .navigation .box.previous i {
  margin-right: 5px;
}
body .navigation .box.projectsList .container {
  background-image: url("../img/indie.jpg");
  align-items: center;
  justify-content: center;
  height: calc(100% - 60px);
}
body .navigation .box.next .container {
  align-items: flex-end;
}
body .navigation .box.next i {
  margin-left: 5px;
}
body .navigation .box:hover.previous .container {
  padding: 30px 30px 30px 60px;
  background-size: 120%;
}
body .navigation .box:hover.projectsList .container {
  background-size: 120%;
}
body .navigation .box:hover.next .container {
  padding: 30px 60px 30px 30px;
  background-size: 120%;
}
@media (max-width: 767px) {
  body .navigation {
    flex-direction: column;
  }
  body .navigation .box {
    width: 100%;
  }
}
body .subscribe {
  background: #000;
  padding: 20px;
  color: #888;
}
body .subscribe .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body .subscribe .wrap .title {
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 700;
}
body .subscribe .wrap .description {
  font-size: 14px;
}
body .subscribe .wrap .inputField {
  display: flex;
}
body .subscribe .wrap .inputField input {
  border: 1px solid #000;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
  padding: 12px;
  font-family: "Roboto";
  font-size: 16px;
  min-width: 300px;
}
body .subscribe .wrap .inputField button {
  background-color: #fff;
  border: 1px solid #000;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #000;
  font-size: 13px;
  padding: 18px 33px;
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
}
body .subscribe .wrap .inputField button:hover {
  background-color: rgb(103, 103, 103);
  color: #fff;
}
@media (max-width: 767px) {
  body .subscribe .wrap .inputField {
    flex-direction: column;
    width: 100%;
    row-gap: 5px;
  }
  body .subscribe .wrap .inputField input {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    min-width: unset;
  }
  body .subscribe .wrap .inputField button {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
body .modal {
  display: none;
  position: fixed;
  z-index: 100;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
body .modal .counter {
  position: absolute;
  top: 15px;
  left: 35px;
  color: #f1f1f1;
  font-size: 16px;
}
body .modal i {
  position: absolute;
  color: #f1f1f1;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
body .modal .fa-times {
  top: 15px;
  right: 35px;
}
body .modal .fa-arrow-left {
  top: 50%;
  left: 35px;
}
body .modal .modalContent {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 75%;
  animation: zoom 0.6s;
}
body .modal .modalContent img {
  height: 100%;
}
body .modal .modalContent img.slide-left {
  animation: slide-left 0.6s ease;
}
body .modal .modalContent img.slide-right {
  animation: slide-right 0.6s ease;
}
body .modal .fa-arrow-right {
  top: 50%;
  right: 35px;
}
@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
body .modal.show {
  display: flex;
}
@media (max-width: 767px) {
  body .modal .counter {
    left: 20px;
  }
  body .modal .fa-times {
    right: 20px;
  }
  body .modal .fa-arrow-left {
    left: 20px;
  }
  body .modal .modalContent {
    width: 70%;
  }
  body .modal .modalContent img {
    width: 100%;
    height: unset;
  }
  body .modal .fa-arrow-right {
    right: 20px;
  }
}
body footer {
  padding: 20px;
  font-size: 12px;
  line-height: 2;
  background: #000;
  color: #888;
  transition: opacity 0.25s;
}
body footer .wrap {
  display: flex;
  justify-content: space-between;
}
body footer .wrap .media {
  display: flex;
  gap: 20px;
}
body footer .wrap .media a {
  color: #888;
}
body footer .wrap .media a i {
  font-size: 17px;
}
body footer .wrap .media a:hover {
  color: #333;
}
@media (max-width: 767px) {
  body footer .wrap {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */