body {
    margin: 0;
    font-family: "Roboto";
    background-color: #f7f7f7;

    main {

        .music {
            position: relative;
            background-image: url("../img/bg.jpg");
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;

            .bgOverlay {
                background-color: rgba($color: #fff, $alpha: 0.44);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }
}